*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(226, 180, 94);
}
.section-one{
    padding:10px;
    
}
.section-one__titleconatiner h1
{
    text-align: center;

  
}

.section-one__img
{
    margin:20px;
    padding:10px;
    display: flex;
    justify-content: space-around;
    gap:10px;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 4;
    

}
.section-one__img img{
  width: 20%;
 border:2px solid black;
}

