.red{
    background-color:red;
    height:100px;
    width:200px;
    display:inline-block;
}
.blue{
    background-color:blue;
    height:100px;
    width:200px;
    display:inline-block;
}
.yellow{
    background-color:red;
    height:100px;
    width:200px;
    display:inline-block;
}